<section class="jumbotron">
  <div class="jumbotron__container container">
    <h1 class="jumbotron__title">Про проект</h1>
  </div>
</section>

<article class="article container">
  <h2 class="article__title">Inclusive IT — cоціальне підприємництво, місією якого є інтегрувати людей з інвалідністю у суспільство та допомогти їм одержати фінансову незалежність.</h2>
  <p class="article__text">80% наших Ascessibility QA-s експертів — люди з інвалідністю. Ми єдина команда, яка поєднує автоматичне та ручне тестування. Ручне тестування необхідне, бо жоден автоматичний тест не враховує усіх можливих помилок і видає результат з низьким рівнем точності.</p>
  <p class="article__text">Ми перевіряємо сайти та вебдодатки на відповідність міжнародному стандарту доступності WCAG 2.1 та американському стандарту Section 508.</p>
  <p class="article__text">Надаємо початкові результати тестування протягом перших днів співпраці. Створюємо розгорнуті рекомендації стосовно виявлених помилок та точні рішення проблем у сфері вебдоступності.</p>
  <p class="article__text">Проводимо тренінги з вебдоступності для команд, індивідів, розробників, дизайнерів, контент-менеджерів, та усіх, хто цікавиться вебдоступністю. Офлайн та онлайн.</p>
  <p class="article__text">Коли ми говоримо про вебдоступність, маємо на увазі універсальність доступу. Доступний вебсайт зручний для всіх, а не тільки для людей з інвалідністю.</p>
  <p class="article__text">Вебдоступність — це вебпростір, який є якісним, простішим та комфортним для всіх без виключень.</p>
</article>

<section class="contacts">
  <div class="contacts__container container">
    <span class="contacts__text">Майбутнє за доступністю.</span>
    <span class="contacts__text">Створюйте її з нами.</span>
    <span class="contacts__email">axycat@inclusive-it.org</span>
  </div>
</section>
