<section class="jumbotron">
  <div class="jumbotron__container container">
    <h1 class="jumbotron__title">Тестування на вебдоступність</h1>
  </div>
</section>

<section class="info">
  <div class="info__container container">
    <div class="info__image-wrapper">
      <img class="info__image" src="../../../../../assets/images/manual_testing.png" alt="Зображена піктограмма людини, що означає інклюзивність">
    </div>
    <div class="info__text-block">
      <h2 class="info__title">Ручне</h2>
      <p class="info__text">
        Незрячі та слабозорі тестувальники, що користуються
        лише клавіатурою, переглядають результати автоматичного
        тестування та доповнюють їх.
      </p>
      <p class="info__text">
        Власна програмна бібліотека дозволяє нам імітувати
        виправлення на сайті, щоб спершу можна було подивитись,
        а потім замовити виправлення.
      </p>
    </div>
  </div>
</section>

<section class="info">
  <div class="info__container container">
    <div class="info__text-block left-side">
      <h2 class="info__title">Автоматичне</h2>
      <p class="info__text">
        За допомогою власних програм, написаних незрячими,
        ми тестуємо та надаємо такі рекомендації, які працюють
        на різних платформах.
      </p>
      <p class="info__text">
        Тестування базується на прогресивному засобі
        тестування на вебдоступність axe-core.
      </p>
    </div>
    <div class="info__image-wrapper left-side">
      <img class="info__image" src="../../../../../assets/images/automatic_testing.png" alt="Зображена піктограмма людини, що означає інклюзивність">
    </div>
  </div>
</section>

<section class="testing">
  <div class="testing__container container">
    <h2 class="testing__title">Вартість тестування</h2>
    <div class="testing__list">
      <div class="testing__item">
        <header class="testing__item-header yellow">
          <span class="testing__item-title">Automated</span>
          <span class="testing__item-cost">Безкоштовно</span>
        </header>
        <div class="testing__info-holder">
          <p class="testing__description">PDF-звіт з результатами автоматичного тестування 5 сторінок сайту</p>
          <p class="testing__note">Автоматичне тестування коду</p>
          <p class="testing__note">Платформи тестування: Firefox on Windows</p>
          <p class="testing__note">Виявлення критичиних багів (50—70%)</p>
          <p class="testing__note">WCAG 2.1 Рівень A (40—60%)</p>
          <p class="testing__note">WCAG 2.1 Рівень AA (30—50%)</p>
          <p class="testing__note">WCAG 2.1 Рівень AAA (20—40%)</p>
          <p class="testing__note">Загальна звітність</p>
        </div>
      </div>

      <div class="testing__item">
        <header class="testing__item-header blue">
          <span class="testing__item-title">Light</span>
          <span class="testing__item-cost">$200</span>
        </header>
        <div class="testing__info-holder">
          <p class="testing__description">Виявлення критичних багів на 5 сторінках сайту</p>
          <p class="testing__note">Ручне тестування коду</p>
          <p class="testing__note">Автоматичне тестування коду</p>
          <p class="testing__note">Платформи тестування:
            <span class="testing__type">Firefox + NVDA</span>
            <span class="testing__type">Chrome + NVDA</span>
            <span class="testing__type">Edje + JAWS</span>
            <span class="testing__type">Android + TalkBack</span>
          </p>
          <p class="testing__note">Виявлення критичиних багів (100%)</p>
          <p class="testing__note">WCAG 2.1 Рівень A (40—60%)</p>
          <p class="testing__note">WCAG 2.1 Рівень AA (30—50%)</p>
          <p class="testing__note">WCAG 2.1 Рівень AAA (20—40%)</p>
          <p class="testing__note">Загальна звітність</p>
        </div>
      </div>

      <div class="testing__item">
        <header class="testing__item-header red">
          <span class="testing__item-title">Custom</span>
          <span class="testing__item-cost">Обговорюється</span>
        </header>
        <div class="testing__info-holder">
          <p class="testing__description">Індивідуальний підхід під потреби вашого проекту</p>
          <p class="testing__note">Залишіть ннам персональний запит на онлайн інклюзивність, і ми разом з вами зробимо ваш проєкт доступним для широкого кола користувачів.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-form container">
  <iit-contact-form></iit-contact-form>
</section>
