<header class="header">
  <div class="header__container container">
    <a class="logo" [routerLink]="['/home']">
      <img class="logo__image" src="../../../../../assets/images/logo.svg" alt="На білому фоні розміщений логотип. Чорними літерами написано Inclusive IT. Над текстом знахожиться графічний знак, що складається з 4-х елементів: рожеве коло, чорний, синій та жовтий прямокутники">
    </a>
    <div class="header__controls">
      <nav class="nav">
        <a [routerLink]="['/about-us']" class="nav__item">Про проект</a>
        <a [routerLink]="['/testing']" class="nav__item">Тестування</a>
        <a [routerLink]="['/study']" class="nav__item">Навчання</a>
      </nav>
      <div class="social">
        <a href="https://www.facebook.com/inclusiveitorg/" class="social__item">
          <img src="../../../../../assets/images/facebook.png" alt="Зображена іконка соціальної мережі фейсбук" class="social__image">
        </a>
      </div>
    </div>
  </div>
</header>
