<form class="contact-form">
  <h2 class="contact-form__title">Зв'яжіться з нами</h2>
  <div class="form-field">
    <label class="label" for="namr">Як до вас звертатись?</label>
    <input class="from-control" id="name" type="text" aria-label="Ім'я">
  </div>
  <div class="form-field">
    <label class="label" for="enail">Електронна адреса</label>
    <input class="from-control" type="email" id="email" aria-label="Електронна адреса">
  </div>
  <div class="form-field">
    <label class="label" for="phone">Номер телефону</label>
    <input class="from-control" type="text" id="phone" aria-label="Номер телефону">
  </div>
  <div class="form-field">
    <label class="label" for="message">Повідомлення</label>
    <textarea class="textarea" name="message" id="message" aria-label="Повідомлення"></textarea>
  </div>
  <button class="contact-form__button" type="button">Надіслати</button>
</form>
